<!--<c-footer>-->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p class="nn" style="color:blue"><b>Drona</b></p>
    </div>
    <div class="col-lg-4">
      <p class="mb-0">
        Email: infovtorlabs.com
      </p>
      <p class="mb-0">
        Phone: +91 8450908431
      </p>
    </div>

    <div class="col-lg-4 text-end">
      <p class="nn"> 2024 Drona. All rights reserved.</p>
    </div>
    <!-- <div>
    <a routerLink="/#" target="_blank">Angular</a>
    <span> &copy; 2024 creativeLabs</span>
  </div>
  <div class="ms-auto">
    <a routerLink="/#" target="_blank">
      <span> 2024 Drona. All rights reserved.</span>
    </a>
  </div> -->
    <!--</c-footer>-->